<ion-modal-view padding="true">
	<ion-content padding>
		<div class="card">
			<div class="item item-text-wrap">
				<p>You are about to delete this Stock from the Watch List. You will lose all information entered up to this point. Are you sure you wish to delete this Stock from the Watch List?</p>
				<button class="button button-block button-dark" on-tap="doDeleteWatchListItem()">Yes, Delete</button>
				<button class="button button-block button-dark" on-tap="closeModal()">No</button>
			</div>
		</div>
	</ion-content>
</ion-modal-view>