<ion-view view-title="{{titles[filter]}}">
	<ion-nav-buttons side="left">
    <button on-tap="doBack()" class="button button-icon icon ion-backicon"><i class="icon ion-ios7-arrow-back"></i></button>
  </ion-nav-buttons>
  <ion-content has-header has-bouncing="false" scrollbar-y="false" class="holdings">
  <p class="page-content">Add {{stockName}} to the following watchlists</p>
   <ion-item class="item-checkbox external-item">
       <label class="checkbox checkbox-stable">
       <input ng-model="selectAll" type="checkbox" ng-change="toggleAllOptions()">
     </label>
     <p>Select All</p>
    </ion-item>
    <ion-list>
      <ion-item class="item-checkbox" ng-repeat="option in watchLists">
       <label class="checkbox">
         <input ng-model="option.isActive" ng-change="checkOptions()" type="checkbox" ng-true-value="{{$index}}" ng-false-value=false>
       </label>
        <p>{{option.name}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-primary">
    <div class="button-bar bar-positive">
      <button on-tap="doBack()" class="button button-dark">Cancel</button>
      <button  on-tap="doSave()" class="button" ng-class="{disabled: !isValid}">Done</button>
    </div>
  </div>
</ion-view>
